{% load static %}

{% block content %}
<div id="map"></div>
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.2.2/ol.css">

<script type="module" src="{% static "map.js" %}"></script>
{% endblock javascript %}